
body{
	background-image:url(../IMG/aa.jpg);
	width: 100%;
	height:100%vh;
	background-size: cover;
	color:white;
    
	
}
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }
  
  .button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }

  .cuadroboton{
    margin-left: 35px;
    width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 18%;
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;

}
.cuadroboton button{
	width: 250px;	
	font-size: small;
    text-align: center;
    justify-content: center;
}


.botones-izquierda{
	display: block;
	width: 400px;
	height: 800px;
	background-color: rgba(0, 0, 0, 0.685);	
	float: left;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    margin-left: 32px;
	
}
.Titulo-menu{
	color: #fff;
	margin-top: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-bottom: 2px solid #ebebeb;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;

}

.cuadroboton{
    text-align: center;
    justify-content: center;
    width: 280px;
}