*{
    color: white;
}
body{
	background-position: center center;
	background-attachment: fixed;
    background-size: cover;	
	background-repeat: no-repeat;
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../IMG/aa.jpg);
  }

.container{
    font-weight: bold;
    height:130%;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.507);
}

.select{
  width: 100%;
}
.butbg{
  background-color: #121212;
}
.button-35 {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    width: 150px;
  }
  
  .button-35.boton2{
    float: left;
    width: 150px;
  }
  .button-35:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }

input{
  color:black;
}
  
@media(width:300px) {
  input.button-35.boton1{
    text-align: center;
    position: absolute;
    right: 400px;
    top: 80%;

  }
  input.button-35.boton2{
    text-align: center;
    position: absolute;
    left: 400px;
    top: 80%;

  }
 
    
}
@media(max-width:330px) {
  input.button-35.boton2{
    text-align: center;
    width: 40%;
    font-size: 20px;

  }
  input.button-35.boton1{
    text-align: center;
    text-align: center;
    width: 40%;
    font-size: 20px;

  }
  
}