*{
    margin:0;
    padding: 0;
}

.container{
    background-color: red;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.table{
    width: 80%;
    background-color: blue;
}